@import "tailwindcss";

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #27272a transparent;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
